#[link(name = "mongrel2",
       vers = "0.2pre",
       uuid = "f1bdda2b-0db7-42df-a40e-0decd4d56bb0")];
#[crate_type = "lib"];

use std;
use zmq;
use tnetstring;

import result::{ok, err, chain};
import dvec::{dvec, extensions};
import std::json;
import json::to_str;
import std::map;
import std::map::hashmap;
import zmq::{context, socket, to_str};
import tnetstring::tnetstring;
