#[link(name = "mongrel2",
       vers = "0.2pre",
       uuid = "f1bdda2b-0db7-42df-a40e-0decd4d56bb0")];
#[crate_type = "lib"];

extern mod std;
extern mod zmq;
extern mod tnetstring;

use dvec::DVec;
use send_map::linear::LinearMap;
use std::json;
use std::json::{Json, ToStr};

use zmq::{Context, Socket, to_str};
use tnetstring::TNetString;
